
/**********************************************/

/* CSS RESPONSIVE COMMUN A TOUTES LES APPLIS */

/**********************************************/

@media screen and (max-width: 1400px) {

	#depoCompoBox {
		border: 7px solid #ddd;
	}
}

@media screen and (max-width: 1300px) {

	#options {
		font-size: .85em;
	}

	.numInfBul {
		height: 35px;
		top: -.01em;
		width: 35px;
	}

	#depoCompoBox {
		border: 6px solid #ddd;
	}

	#smiley {
		font-size: 100px;
	}

	#btVerifier, #btSuivant {
		font-size: 1.5em;
	}

}

@media screen and (max-width: 1200px) {

	#options {
		font-size: .8em;
	}

	.affSucces {
		font-size: .75em;
	}

	.numInfBul {
		height: 30px;
		left: -2.2em;
		top: -.08em;
		width: 30px;
	}

	#depoCompoBox {
		border: 5px solid #ddd;
	}

	#btVerifier, #btSuivant {
		font-size: 1.3em;
	}

	#smiley {
		font-size: 80px;
	}

	.fl1D, .fl1G {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 1024px) {

	.icBg40 {
		height: 30px;
		margin: 0 .3em .1em 0;
		width: 30px;
	}

	#affPseudo {
		padding: .1em .5em .1em 0;
		/*font-size: .8em;*/
		height: 20px;
	}

	.icoEl {
		height: 23px;
		width: 23px;
	}

	#options {
		font-size: .8em;
	}

	#affSuccesComposer, #affSuccesEcrire, #affSuccesRendre {
		height: 19px;
	}

	.affSucces {
		font-size: .7em;
	}

	.infBul1 {
		border: 2px solid rgba(255, 255, 255, 0.7);
		margin: .6em 0 .8em;
	}

	.numInfBul {
		border: 2px solid rgba(255, 255, 255, 0.7);
		height: 22px;
		font-size: .8em;
		left: -2.5em;
		top: .1em;
    	padding: .1em .5em;
		width: 22px;
	}

	.infBul1::after {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid rgba(255, 255, 255, 0.7);
		bottom: -8px;
	}

	#depoCompoBox {
		border: 4px solid #ddd;
	}

	#btVerifier, #btSuivant {
		font-size: 1em;
	}

	#smileyBox {
			margin: 0 0 1.5em;
	}

	#smiley {
		font-size: 70px;
	}

}