
/****************************************************/

/* RAPPORTEUR */

/****************************************************/

/****************************************************/

/* OPTIONS */

/****************************************************/

/* Sliders */

.slidBox {
	padding: 1.5em 0 0 0;
	margin: 0 auto;
	width: 140px;
}

.slid {
	margin-top: -1em;
}

.slidHandle {
	height: 24px;
	line-height: 1.2;
	width: 24px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.6em;
}

#affSucces {
	display: none;
}

/****************************************************/

/* APP */

/****************************************************/

#plato {
	margin: auto;
	padding-left: 5em;
}

.plato-1-1 {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

#compoBox {
	width: 1000px;
}

#depoCompoBox {
	border-radius: 50%;
	position: relative;
}

#depoCompo {
	height: 900px;
	margin: 0 auto;
	width: 1000px;
}

/****************************************************/

/* RAPPORTEUR */

/****************************************************/

#rappBox {
	bottom: 36%;
	position: absolute;
	left: -8%;
}

#rapp {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	clip: rect(0px 740px 380px 0);
	cursor: move;
	height: 700px;
	position: absolute;
	width: 700px;
}

.btRapp {	
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	cursor: pointer;
	height: 26px;
	position: absolute;
	right: -2em;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
	z-index: 1;
}

.btRapp:hover {	
	background-color: rgba(180, 230, 10, 0.9);
}

#ptCtr {
	background-color: #555;
	border-radius: 50%;
	left: 50%;
	height: 4px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 4px;
}

.gradRepCtr, .gradRepExt, .grad10Ext, .grad5Ext, .grad1Ext, .gradRepInt, .grad10Int, .grad5Int, .grad1Int {
	left: 50%;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 700px;
}

.barRepCtr {
	background-color: #555;
	height: 1px;
	left: 51%;
	position: absolute;
	width: 20px;
}

.barRepExt {
	background-color: #555;
	height: 1px;
	left: 0;
	position: absolute;
	width: 20px;
}

.bar10Ext, .bar5Ext, .bar1Ext {
	background-color: #222;
	left: 3.4em;
	position: absolute;
}

.bar10Ext {
	height: 1px;
	width: 24px;
}

.bar5Ext {
	height: 1px;
	width: 18px;
}

.bar1Ext {
	height: 1px;
	width: 12px;
}

.num10Ext {
	left: 2.4em;
	position: absolute;
}

/***/

.bar10Int, .bar5Int, .bar1Int {
	background-color: #222;
	left: 5.2em;
	position: absolute;
}

.bar10Int {
	height: 1px;
	width: 24px;
}

.bar5Int {
	left: 5.6em;
	height: 1px;
	width: 18px;
}

.bar1Int {
	left: 6em;
	height: 1px;
	width: 12px;
}

.num10Int {
	left: 7.95em;
	position: absolute;
}

/****************************************************/

/* ANGLES */

/****************************************************/

#anglBox {
	left: 50%;
	height: 800px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
}

.seg1, .seg2 {
	left: 50%;
	height: 800px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
}

.bar1, .bar2 {
	background-color: transparent;
	height: 400px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 20px;
}

.barSeg1, .barSeg2 {
	background-color: #F40E0E;
	height: 400px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 2px;
}

.pieBox {
	height: 400px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: rotate(-90deg);
}

.pie1 {
	border-radius: 50%;
	clip: rect(0px, 400px, 200px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

.hold1 {
	border-radius: 50%;
	clip: rect(200px, 400px, 400px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

.pie2 {
	border-radius: 50%;
	clip: rect(0px, 400px, 200px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

.hold2 {
	border-radius: 50%;
	clip: rect(0px, 400px, 400px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

.pie3 {
	border-radius: 50%;
	clip: rect(0px, 400px, 400px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

.hold3 {
	border-radius: 50%;
	clip: rect(200px, 400px, 400px, 0px);
	height: 400px;
	position: absolute;
	width: 400px;
}

#pieBox1 .pie1, #pieBox2 .pie2, #pieBox3 .pie3 {
	background-color: #efb3b3;
}

/*#pieBox2 .pie2 {
	background-color: #B3D2EF !important;
}

#pieBox3 .pie3 {
	background-color: #CEEFB3 !important;
}*/

/****************************************************/

/* DIGITAL */

/****************************************************/

#digital {
	margin: auto;
	width: 80%;
}

#digCompoBox, #formerBox {
	background-color: #eee;
	border: 5px solid #ccc;
	border-radius: 8px;
	font-size: 1.5em;
	padding: .5em 1em;
	text-align: center;
}

#affDeg, #formerDeg {
	background-color: transparent;
	border: 0;
	border-radius: 8px;
	font-size: 3em;
	padding: 0;
	text-align: center;
	width: 100%;
}

#propNbrBox {
	background-color: #eee;
	border: 5px solid #ccc;
	border-radius: 8px;
	margin: 0 auto;
	margin-bottom: .5em;
	padding: .5em 0 .2em 0;
	text-align: center;
}

#propNbr {
	background-color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: 8px;
	color: #007fff;
	display: inline-block;
	font-size: 4em;
	padding: .1em 0;
	text-align: center;
	width: 70%;
	-moz-user-select: text;
	-webkit-user-select: text; 
}

#unite {
	display: inline-block;
	font-size: 4em;
	margin-left: .1em;
}

/****************************************************/

/* PROFIL */

/****************************************************/

#results {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}