
/****************************************************/

/* RESPONSIVE */

/****************************************************/

@media screen and (max-width: 1400px) {

	#propNbrBox {
		font-size: 1.4em;
	}

}

@media screen and (max-width: 1300px) {

	#propNbrBox {
		font-size: 1.3em;
	}

}

@media screen and (max-width: 1200px) {

	#propNbrBox {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 1024px) {

	#propNbrBox {
		font-size: 1.1em;
	}

}