
/****************************************************/

/* RESPONSIVE */

/****************************************************/

@media screen and (max-width: 1400px) {

	#calculBox {
		font-size: 3.8em;
	}

	#prop {
		width: 210px;
	}

}

@media screen and (max-width: 1300px) {

	#calculBox {
		font-size: 3.5em;
	}

	#prop {
		width: 200px;
	}

}

@media screen and (max-width: 1200px) {

	#calculBox {
		font-size: 3em;
	}

	#prop {
		width: 170px;
	}
}

@media screen and (max-width: 1024px) {

	#calculBox {
		font-size: 2.5em;
	}

	#prop {
		width: 140px;
	}

}