
/****************************************************/

/* ORDRE ALPHABETIQUE */

/****************************************************/

/****************************************************/

/* OPTIONS */

/****************************************************/

.icBg30 {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	height: 30px;
	margin: 0 .25em .3em .25em;
	width: 30px;
}

.icBg30:hover {
	background-color: rgba(180, 230, 10, 0.9);
}

#addList, #editList {
	background-color: rgba(255, 255, 255, 0.8);
	bottom: 0;
	display: none;
	left: 0;
	right: 0;
	position: absolute;
	top: 0;
	z-index: 100;
}

#addListBox, #editListBox {
	background-color: rgba(255, 255, 255, 0.8);
	border: 8px solid #ccc;
	border-radius: 8px;
	left: 50%;
	min-width: 70%;
	padding: 0 1em .5em 1em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

#addListForm, #editListForm {
	overflow-y: auto;
	max-height: 600px;

}

#closeAddList, #closeEditList {
	position: absolute;
	right: -26px;
	top: -26px;
}

.listName, .listArea, .listEditArea {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	font-size: 1.2em;
	padding: .2em .4em;
	width: 100%;
	-moz-user-select: text;
	-webkit-user-select: text; 
}

.listEditArea {
	width: 95%;
}

.listEdit {
	border-bottom: 2px dashed #007fff;
	margin: 0 0 .5em 0;
	padding: 0 0 .5em 0;
}

.listEditName {
	font-weight: bold;
}

.bleu {
	color: #007fff;
	font-weight: bold;
}

.rouge {
	color: #FF4B14;
	font-weight: bold;
}

.small {
	font-size: .8em;
}

#btDictee {
	font-size: 1.3em;
}

/* Sliders */

.slidBox {
	padding: 2em 0 0 0;
	margin: 0 auto;
	width: 140px;
}

.slid {
	margin-top: -1em;
}

.slidHandle {
	height: 24px;
	line-height: 1.2;
	width: 24px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.6em;
}

#affSucces {
	display: none;
}

/****************************************************/

/* APP */

/****************************************************/

#plato {
	margin: auto;
	padding: 0 2em;
}

.plato-1-1 {
	display: grid;
	grid-template-columns: 1fr;
}

#consigne {
	background-color: rgba(255, 255, 255, 0.7);
	border: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
	display: inline-block;
	font-size: 1.2em;
	margin: 0 0 1em;
	padding: .5em 1em;
	text-align: center;	
}

#depoCompoBox {
	padding: 2em;
}

.box {
	background-color: rgba(255, 255, 255, 0.7);
	border: 3px solid #ccc;
	border-radius: 14px;
	cursor: move;
	display: inline-block;
	font-size: 1.3em;
	margin:  .2em;
	padding: .5em 1em;
	text-align: center;
}

.ui-state-highlight {
	background: #A1D8F9;
	border: 3px solid #78C6F6;
	border-radius: 14px;
	display: inline-block;
	margin: .5em .1em;
	vertical-align: middle;
}

/****************************************************/

/* PROFIL */

/****************************************************/

#results {
  display: grid;
  grid-template-columns: 1fr;
}