
/****************************************************/

/* RESPONSIVE */

/****************************************************/

@media screen and (max-width: 1400px) {
	#propNbr {
		font-size: 5.5em;
	}
}

@media screen and (max-width: 1300px) {
	#propNbr {
		font-size: 5em;
	}
}

@media screen and (max-width: 1200px) {
	#propNbr {
		font-size: 4em;
	}
}

@media screen and (max-width: 1024px) {
	#propNbr {
		font-size: 3em;
	}
}