
/*! COULEURS | Aline Hy | Veg & Co' */

/* Fichier regroupant les couleurs qu'on va utiliser
   ========================================================================== */

$blanc: #fff;
$noir: #000;
$gris: #778892;

$orange: #FF6600;

$rouge-francais: #E93D3D;
$rouge-francais-hover: #CD1E1E;
$rouge-francais-pressed: #E56874;

$rouge-connexion: #E93D3D;
$rouge-connexion-hover: #CD1E1E;
$rouge-connexion-pressed: #E56874;
    
$bleu-maths: #2EABBF;
$bleu-maths-hover: #118496;
$bleu-maths-pressed: #62B5C2;
$bleu-liste-maths: #62B5C2;

$bleu-parents: #51B9CA;
$bleu-parents-hover: #59A3AF;
$bleu-parents-pressed: #89C9D3;

$violet-anglais: #675089;
$violet-anglais-hover: #49316C;
$violet-anglais-pressed: #806E9D;

$violet-professeur: #6A40BB;
$violet-professeur-hover: #492789;
$violet-professeur-pressed: #5B4E76;

$vert-decouverte: #3EB058;
$vert-decouverte-hover: #2C8841;
$vert-decouverte-pressed: #5C9A6A;
$vert-retour: #5EBD74;
$vert-retour: #5EBD74;

$jaune-chorale: #FFC720;
$jaune-chorale-hover: #EDB40C;
$jaune-chorale-pressed: #EBCA68;