
/****************************************************/

/* RESPONSIVE */

/****************************************************/

@media screen and (max-width: 1200px) {

	#balancesBox {
		height: 420px;
	}

	#colSup {
		height: 28px;
		top: 380px;
	}

	#colonne {
		border-bottom: 320px solid #E6E6CC;
		width: 100px;
	}

	#colRnd {
		border: 4px solid #E6E6CC;
		height: 50px;
		top: -45px;
		width: 50px;
	}

	#colLev {
		height: 12px;
		left: 100px;
		top: 70px;
		width: 700px;
	}

	#levRnd {
		height: 30px;
		width: 30px;
		top: -8px;
	}

	#colTrgl {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 20px solid #E6E6CC;
		top: -41px;
	}

	#levP {
		height: 16px;
		width: 16px;
		top: -2px;
	}

	#levTrgl {
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 40px solid #F3BC85;
		top: -35px;
	}

	#platoG, #platoD {
		border-bottom: 14px solid #F3BC85;
		top: 0px;
	}

	.cord {
		border-bottom: 214px solid #F3BC85;
		border-left: 140px solid transparent;
		border-right: 140px solid transparent;
		top: 72px;
	}

	.cordTrgl {
		border-left: 135px solid transparent;
		border-right: 135px solid transparent;
		border-bottom: 209px solid rgba(255, 255, 255, 0.7);
		top: 5px;
	}

	#digCompoBoxG, #digCompoBoxD, #digEcrireBox {
		border: 4px solid #ddd;
		height: 4em;
		padding: .2em 0;
	}

	#affValG, #affValD {
		font-size: 2.2em;
	}

	#digEcrire {
		font-size: 2.5em;
	}

	#distrib {
		margin: 0 0 .5em;
	}

	#distAlea {
		margin-top: .5em;
	}

	#distP {
		margin: 1em 0 0;
	}

	.slidBox {
		padding: 1em 0 0;
	}

	.slidHandle {
		height: 24px;
		line-height: 1.2;
		width: 24px;
	}

	.ui-slider-horizontal .ui-slider-handle {
		top: -.5em;
	}

	.slid {
		margin-bottom: .7em;
	}

	#propBtBox {
		margin: 0;
	}

	.gram {
		font-size: 2em;
		line-height: 1;
	}

	#btVerifier, #btSuivant {
		margin-top: 1em;
	}

	#smileyBox {
		margin: 0 0 .5em;
	}

	#smiley {
		font-size: 50px !important;
	}

	#corb {
		margin-top: 1em;
	}

}