
@import url(bootstrap.css);

@font-face {
  font-family: perso;
  src: url(../fonts/LettersforLearners.ttf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  text-align: left;
  background-color: #212528;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020;
}

.menu{  
  font-family:perso;
  font-size: 1.5rem;
  
}

.titre {
  font-family:perso;
  font-size: 1.5rem;
}

.button-menu{
  font-size: 1rem;
}

.dropdown-menu{
  background-color: #778892;
}

.dropdown-item{
  font-size: 1.5rem;
  font-family: perso;
  color: white;
}

.dropdown-item:hover{
  background-color: #FFC32B;
  color: white;
}

.table-dark{
  font-size: 1rem;
}

.table-fontlarge{
	font-family: perso;
	font-size: 1.5rem;
	color: BlanchedAlmond;
}

.table-fontlarge:hover{
  background-color: BlanchedAlmond;
  color: #DC3545;
  text-decoration-color: BlanchedAlmond;
}

.consignes {
  font-family: perso;
  font-size: 2rem;
  color: white;
}

.consignes2 {
  font-family: perso;
  font-size: 1.5rem;
  color: white;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}
.btn-primary{
  background-color: #563D7C;
  border-color: #563D7C;
  color: white;
}

.btn-warning{
  color: white;
}

.btn-warning:hover{
  color: white;
}

.btn-dark{
  background-color: #798A94;
  border-color: #798A94;
  color: white;
}

.btn-dark:hover{
  background-color: #64727A;
  border-color: #64727A;
  color: white;
}

.btn-light{
  background-color: #FF6600;
  border-color: #FF6600;
  color: white;
}
.btn-light:hover{
  background-color: #E25600;
  border-color: #E25600;
  color: white;
}

.btn-primary:hover{
  background-color: #3F2D5B;
  border-color: #3F2D5B;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #3F2D5B;
  border-color: #3F2D5B;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}

.bg-primary {
  background-color: #563D7C !important;
}

.tooltip-inner {
  max-width: 500px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: left;
  background-color: #000;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #FFFFFF;
  background-color: #DC3545;
  border-color: #D64F61;
}

.alert-warning {
  color: #000000;
  background-color: #FFC107;
  border-color: #FFD147;
}

.table-perso-francais {
  font-size: 2rem;
  font-family: perso;
  padding: 50px 50px 50px 50px;
  margin: auto;
  text-align: center;
  color: white;
}

.table-perso-mathematiques {
  font-size: 2rem;
  font-family: perso;
  padding: 50px 50px 50px 50px;
  margin: auto;
  text-align: center;
  color: white;
}

.table-perso-decouvertedumonde {
  font-size: 2rem;
  font-family: perso;
  padding: 50px 50px 50px 50px;
  margin: auto;
  text-align: center;
  color: white;
}

.table-perso-sport {
  font-size: 2rem;
  font-family: perso;
  padding: 50px 50px 50px 50px;
  margin: auto;
  text-align: center;
  color: white;
}

.table-perso-arts {
  font-size: 2rem;
  font-family: perso;
  padding: 50px 50px 50px 50px;
  margin: auto;
  text-align: center;
  color: white;
}

.table-perso-francais:hover {
  background-color: BlanchedAlmond;
  color: #DC3545;
  text-decoration-color: BlanchedAlmond;
}

.table-perso-mathematiques:hover {
  background-color: BlanchedAlmond;
  color: #17A2B8;
  text-decoration-color: BlanchedAlmond;
}

.table-perso-decouvertedumonde:hover {
  background-color: BlanchedAlmond;
  color: #28A745;
  text-decoration-color: BlanchedAlmond;
}

.table-perso-sport:hover {
  background-color: BlanchedAlmond;
  color: #515960;
  text-decoration-color: BlanchedAlmond;
}

.table-perso-arts:hover {
  background-color: BlanchedAlmond;
  color: #F8BC06;
  text-decoration-color: BlanchedAlmond;
}



.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

/* jeux bouton vérifier */
@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.btV {
	background-color: #A8D900;
	color: #fff;
}



/* Image Slider */
* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 600px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}